# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
.venv/
venv/
.env
.env.*

# Git
.git
.gitignore

# OS
.DS_Store
Thumbs.db

# App artifacts
downloads/
recordings/
*.xlsx

# IDE/editor
.vscode/
.idea/
*.code-workspace



